<!DOCTYPE html>
<html>
<head>
  <title>MediaFunnel</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Raleway:200,400,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render partial: 'layouts/nav' %>
  </div>
  <div class="color-line-header"></div>

  <%= yield %>

  <div class="container">
    <div class="footer">
      <p>made possible by <a href="http://trakt.tv">Trakt</a> and <a href="http://www.platform45.com">Platform45</a></p>
    </div>
  </div>
 <div class="color-line-footer"></div>
</body>
</html>
